.main-header {
    font-size: 2rem;
    font-weight: 600;
}

.category-thumbs-nail {
    width: 20rem;
    height: auto;
}

.meals-thumbs-nail {
    width: 20rem;
    height: auto;
    border-radius: 5rem;
}